@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

@layer components {
    .btn {
        @apply text-white bg-[#251D58] px-10 py-2 rounded-md
    }

    .input {
        @apply py-3 px-3 bg-[#F6F6F6] rounded-lg w-full outline-none
    }

    .input::placeholder {
        color: '#333';
    }

    .textarea {
        @apply py-3 px-3 bg-[#F6F6F6] rounded-lg w-full outline-none
    }

    .textarea::placeholder {
        color: '#333';
    }

    .menu {
        @apply bg-white w-48 top-10 space-y-2 py-5 text-center right-0 absolute shadow-lg rounded-lg z-0
    }

    .footer-menu {
        @apply space-y-3
    }
}

@layer utilities {
    .padding {
        @apply px-[12%]
    }

    .text-primary {
        @apply text-[#1F1632]
    }

    .text-secondary {
        @apply text-[#251D58]
    }

    .bg-primary {
        @apply bg-[#251D58]
    }
}